<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akash.feedback">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hrlogotwo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Home" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignInNext" />
        <activity android:name=".FloatingPollMessage" />
        <activity android:name=".FloatingDistressMessage" />
        <activity android:name=".FloatingSeniorMessage" />
        <activity android:name=".FloatingGeneralMessage" />
        <activity android:name=".FoodPollScreenOne" />
        <activity android:name=".DeptPollScreenOne" />
        <activity android:name=".PurchasePollScreen" />
        <activity android:name=".HRPollScreen" />
        <activity android:name=".LobbyScreen" />
        <activity android:name=".ManageLobbies" />
        <activity android:name=".Following" />
        <activity android:name=".MyTeams" />
        <activity android:name=".MyTeamsTwo" />
        <activity android:name=".MyMessages" />
        <activity android:name=".PassChange" />
        <activity android:name=".FollowingScreen" />
        <activity android:name=".Team"></activity>
    </application>

</manifest>